<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "htth://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="../../template/apppage.xhtml">
	<f:metadata>
		<f:event type="preRenderView" listener="#{usuarioController.init()}" />
	</f:metadata>
	
	<ui:define name="pagetitle">Usuário</ui:define>
	<ui:define name="pagetitle2">Edição de Usuário</ui:define>

	<ui:define name="header">

	</ui:define>

	<ui:define name="subScripts">

	</ui:define>


	<ui:define name="btnLeft">	
			<ui:include src="../../template/btnvoltar.xhtml"/>
	</ui:define>

	<ui:define name="body">
		<div class="row row-broken decor-default p-full-md">
		<h:form>
			<div class="col-md-6">
				<div class="input-group fg-float">
					<span class="input-group-addon"><i class="fa fa-user"></i></span>
					<div class="fg-line">
						<h:inputText id="email"
							value="#{usuarioController.objeto.email}"
							class="form-control material fg-input" />
							<h:message for="email"></h:message>
						<label for="email" class="fg-label">E-Mail</label>
					</div>
				</div>
				<br />
			</div>
			
			<div class="col-md-6">
				<div class="input-group fg-float">
					<span class="input-group-addon"><i class="fa fa-user"></i></span>
					<div class="fg-line">
						<h:inputText id="nome"
							value="#{usuarioController.objeto.nome}"
							class="form-control material fg-input" />
							<h:message for="nome"></h:message>
						<label for="nome" class="fg-label">Nome</label>
					</div>
				</div>
				<br />
			</div>
			
			<div class="col-md-6">
				<div class="input-group fg-float">
					<span class="input-group-addon"><i class="fa fa-user"></i></span>
					<div class="fg-line">
						<h:inputText id="login"
							value="#{usuarioController.objeto.login}"
							class="form-control material fg-input" />
							<h:message for="login"></h:message>
						<label for="login" class="fg-label">Login</label>
					</div>
				</div>
				<br />
			</div>
			
			<div class="col-md-12 col-xs-12">
				<label class="fg-label col-md-4 col-xs-6">Status:</label>
				<h:selectBooleanCheckbox class="toggle has-success col-xs-4" value="#{usuarioController.objeto.status}"></h:selectBooleanCheckbox>
				<br/>
			</div>
			
			
			<div class="col-sm-12">
				<button class="col-sm-4 col-xs-12 btn btn-info btn-round" jsf:action="#{usuarioController.gravar()}">Salvar</button>
				
			</div>
			
			<div class="col-sm-12 col-xs-12">
			<br/><br/>
			</div>
			</h:form>
		</div>
	</ui:define>

</ui:composition>

</html>