<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:jsf="http://xmlns.jcp.org/jsf">

	<ui:composition template="template/app.xhtml">
		<ui:define name="page">


  <body class="#{cadastroController.initNew()} #{cadastroController.bodyClass}  ">
    <div class="container">

      <div class="fs-form-wrap" id="fs-form-wrap">
        <div class="fs-title p-l-20">
          <div class="codrops-top">
            <a class="gohome f-s-24 color-default f-w-300 p-0" href="cadastro"><i class="color-primary-hue fa fa-arrow-left"></i> Voltar</a>
          </div>
        </div>
        <h:form styleClass="#{cadastroController.formClass}" id="formCrud">
       		
        	<f:passThroughAttribute name="autocomplete" value="off"/>
        	<h:button></h:button>	
          <ol class="fs-fields">
            <li>
              <label class="fs-field-label fs-anim-upper" for="nome">Qual o seu Nome: </label>
              <h:inputText styleClass="fs-anim-lower" id="nome" rendered="true" value="#{cadastroController.usuario.nome}" >
              	<f:passThroughAttribute name="placeholder" value="Nome"/>
              	<f:passThroughAttribute name="required" value="true"/>
              	 
              </h:inputText>
              <h:message for="nome" id="teste"></h:message>
             
            </li>
            <li>
              <label class="fs-field-label fs-anim-upper" for="email" data-info="Precisamos do seu E-Mail para lhe registrar, não lhe enviaremos Spam!">Qual o seu Email?</label>

              <h:inputText styleClass="fs-anim-lower" id="email" value="#{cadastroController.usuario.email}"   required="true"  >
              	<f:passThroughAttribute name="type" value="email"/>
              	<f:passThroughAttribute name="placeholder" value="E-Mail"/>
              	<f:passThroughAttribute name="required" value="true"/>
              </h:inputText>
             	<h:message for="email" ></h:message>
            </li>
            <li>
       
              <label class="fs-field-label fs-anim-upper" for="login">Qual login deseja Usar: </label>
              
              <h:inputText styleClass="fs-anim-lower" required="true" id="login" value="#{cadastroController.usuario.login}">
              	<f:passThroughAttribute name="placeholder" value="Login"/>
              	<f:passThroughAttribute name="required" value="true"/>
              </h:inputText>
            	<h:message for="login" ></h:message>
            </li>
            <li>
              <label class="fs-field-label fs-anim-upper" for="Senha">Digite sua senha: </label>
              <h:inputSecret styleClass="fs-anim-lower"  id="senha" pt:placeholder="Senha" required="true" value="#{cadastroController.usuario.senha}">
              		<f:passThroughAttribute name="required" value="true"/>
        		</h:inputSecret>
        		<h:message for="senha" ></h:message>
            </li>
          </ol><!-- /fs-fields -->
          <button class="fs-submit" jsf:action="#{cadastroController.cadastra()}"  type="submit">Registrar-se
      
          </button>
      
       </h:form><!-- /fs-form -->
     	
      </div><!-- /fs-form-wrap -->
	 
    </div><!-- /container -->

			<ui:insert name="scripts">
				<ui:include src="/template/scripts.xhtml" />
			</ui:insert>
<c:if test="#{cadastroController.erro}">
    <script>
      (function() {
        var formWrap = document.getElementById( 'fs-form-wrap' );

        [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
          new SelectFx( el, {
            stickyPlaceholder: false,
            onChange: function(val){
              document.querySelector('span.cs-placeholder').style.backgroundColor = val;
            }
          });
        } );

        new FForm( formWrap, {
          onReview : function() {
            classie.add( document.body, 'overview' ); // for demo purposes only
          }
        } );
      })();
      
    //<![CDATA[
      if($(window).width() < 841){
        $(".fs-continue").text("");
      }
      else{
        $(".fs-continue").text("Próximo");
      }

      $(window).resize(function(){
        if($(window).width() < 841){
        $(".fs-continue").text("");
        }
        else{
          $(".fs-continue").text("Próximo");
        }
      });
    //]]>
    </script>
    </c:if>
  </body>
		</ui:define>
	</ui:composition>

</html>