<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:jsf="http://xmlns.jcp.org/jsf">
<body>
	<ui:composition template="template/app.xhtml">
		<ui:define name="page">
			<body class="decor-success loginpage">

				<a class="gohome" href="login"><i class="fa fa-home"></i>
					Login</a>
				<div class="table-wrapper-a">
					<div class="table-row">
						<div class="table-cell">
							<h1 class="text-center form-title">Verificação de E-mail</h1>
							<div class="account-wall">
								<h:form styleClass="form-login fs-form">
									<label class="fs-field-label" for="codigo">Enviamos um código para o seu E-Mail, digite seu código aqui:</label>
									<h:inputText styleClass="fs-anim-lower" id="codigo" value="#{cadastroController.codigoValidacao}"/>


									<div class="text-right">
										<button class="btn btn-lg btn-lg btn-primary "
											jsf:action="#{cadastroController.validaEmail()}" type="submit">Enviar</button>

									</div>
								</h:form>
							</div>

						</div>
					</div>
				</div>

				<div id="scripts">
					<ui:insert name="scripts">
						<ui:include src="/template/scripts.xhtml" />
					</ui:insert>
				</div>
				

			</body>
		</ui:define>
	</ui:composition>

</body>
</html>