<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:jsf="http://xmlns.jcp.org/jsf">
<body>
	<ui:composition template="template/app.xhtml">
		<ui:define name="page">
	<body class="decor-dark loginpage">
		
		<a class="gohome btn btn-lg btn-lg btn-primary" href="cadastro"> Cadastrar-se</a>
		<div class="table-wrapper-a">
			<div class="table-row">
				<div class="table-cell">
					<h1 class="text-center form-title">SisConP</h1>
					<h:messages class="text-center color-warning"></h:messages>
					<div class="account-wall">
						<h:form styleClass="form-login fs-form" >
							<label class="fs-field-label" for="q1">Login:</label> 
							<h:inputText styleClass="fs-anim-lower" id="nome" value="#{appController.login}"/>
							<label class="fs-field-label" for="q2">Senha:</label> 
							<h:inputSecret styleClass="fs-anim-lower" id="q2" value="#{appController.senha}"/>
					
						
					
							<div class="text-right">
							
								<a class="text-light lostpass m-r-md" href="lostpassword.html">Esqueceu da Senha?</a>
								
								<button class="btn btn-lg btn-lg btn-primary" jsf:action="#{appController.doLogin()}" type="submit">Log in</button>
								
							</div>
							
						</h:form>
						
					</div>

				</div>
			</div>
		</div>
		
		 <div id="scripts">
			<ui:insert name="scripts">
				<ui:include src="/template/scripts.xhtml" />
			</ui:insert>
		</div>
	</body>
</ui:define>
   	</ui:composition>
 
</body>
</html>