<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "htth://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="../../template/apppage.xhtml">
	<f:metadata>
		<f:event type="preRenderView" listener="#{itemController.init()}" />
	</f:metadata>
	
	<ui:define name="pagetitle">Produtos</ui:define>
	<ui:define name="pagetitle2">Edição de Produto</ui:define>

	<ui:define name="header">

	</ui:define>

	<ui:define name="subScripts">
		<h:outputScript library="js" name="tinymce/tinymce.min.js" />
		<script>
			tinymce
					.init({
						selector : 'textarea',
						language : 'pt_BR',
						height : '400px',
						plugins : [
								'advlist autolink lists link image charmap print preview hr anchor pagebreak',
								'searchreplace wordcount visualblocks visualchars code fullscreen',
								'insertdatetime media nonbreaking save table contextmenu directionality',
								'emoticons template paste textcolor colorpicker textpattern imagetools codesample' ],
						toolbar1 : 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
						toolbar2 : 'print preview media | forecolor backcolor emoticons | codesample',
						image_advtab : true,
						content_css : [
								'//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
								'//www.tinymce.com/css/codepen.min.css' ]
					});
		</script>

	</ui:define>

	<ui:define name="btnLeft">	
			<ui:include src="../../template/btnvoltar.xhtml"/>
	</ui:define>

	<ui:define name="body">
	

		<div class="row row-broken decor-default p-full-md">
			<h:form id="items">
				<div class="col-md-5">
					<div class="input-group fg-float">
						<div class="fg-line">
							<h:inputText id="descricao"
								value="#{itemController.objeto.descricao}"
								class="form-control material fg-input" />
							<h:message for="descricao"></h:message>
							<label for="descricao" class="fg-label">Descrição</label>
						</div>
					</div>
					<br />
				</div>

				<div class="col-md-3">
					<div class="input-group fg-float">

						<div class="fg-line">
							<h:inputText id="codigo" value="#{itemController.objeto.codigo}"
								class="form-control material fg-input" />
								
							<h:message for="codigo" />
							<label for="codigo" class="fg-label">Código</label>
						</div>

					</div>
					<br />
				</div>

				<div class="col-md-4">
					<div class="input-group fg-float">

						<div class="fg-line">
							<h:inputText id="preco" 
								value="#{itemController.objeto.preco}"
								class="form-control material fg-input" pt:data-mask="#.##0,00" pt:data-mask-reverse="true"
								converterMessage="Ocorreu no formato dos valores, por favor digite corretamente!">
								<f:convertNumber pattern="#,##0.00" for="preco" />
							</h:inputText>
							<h:message for="preco" />
							<label for="preco" class="fg-label">Preço(R$)</label>
						</div>

					</div>
					<br />
				</div>

				<div class="col-md-4">
					<div class="input-group fg-float">

						<div class="fg-line">
							<h:inputText id="previsaoEntrega"
								value="#{itemController.objeto.previsaoEntrega}"
								class="form-control material fg-input"  pt:data-mask="000" 
								converterMessage="Ocorreu no formato dos valores, por favor digite corretamente!">
								<f:convertNumber pattern="000" for="previsaoEntrega" />
							</h:inputText>
							<h:message for="previsaoEntrega" />
							<label for="previsaoEntrega" class="fg-label">Previsão de
								Entrega(Dias)</label>
						</div>

					</div>
					<br />
				</div>

				<div class="col-md-4">
					<div class="input-group fg-float">
						<div class="fg-line">
							<h:inputText id="peso" value="#{itemController.objeto.peso}"
								class="form-control material fg-input"  pt:data-mask="#.##0,00" pt:data-mask-reverse="true"
								converterMessage="Ocorreu no formato dos valores, por favor digite corretamente!">
								<f:convertNumber pattern="#,##0.00" for="peso"/>
							</h:inputText>
							<h:message for="peso" />
							<label for="peso" class="fg-label">Peso(KG)</label>
						</div>

					</div>
					<br />
				</div>

				<div class="col-md-4">
					<div class="input-group fg-float">
						<div class="fg-line">
							<h:inputText id="ncm" value="#{itemController.objeto.ncm}"
								class="form-control material fg-input" />
							<h:message for="ncm"></h:message>
							<label for="ncm" class="fg-label">NCM</label>
						</div>
					</div>
					<br />
				</div>
				<div class="col-md-4">
					<div class="input-group fg-float">
						<div class="fg-line">
							<h:inputText id="ipi" value="#{itemController.objeto.ipi}"
								class="form-control material fg-input"  pt:data-mask="#.##0,00" pt:data-mask-reverse="true"
								converterMessage="Ocorreu no formato dos valores, por favor digite corretamente!">
									<f:convertNumber pattern="#,##0.00" for="ipi" />
							</h:inputText>
							<h:message for="ipi" />
							<label for="ipi" class="fg-label">IPI(%)</label>
						</div>

					</div>
					<br />
				</div>

				<div class="col-md-6">
					<div class="input-group fg-float">
						<div class="fg-line">
							<h:inputText id="disponivelEstoque"
								value="#{itemController.objeto.disponivelEstoque}"
								class="form-control material fg-input"  pt:data-mask="#.##0,00" pt:data-mask-reverse="true"
								converterMessage="Ocorreu no formato dos valores, por favor digite corretamente!">
									<f:convertNumber pattern="#,##0.00" for="disponivelEstoque" />
							</h:inputText>
							<h:message for="disponivelEstoque" />
							<label for="disponivelEstoque" class="fg-label color-Black" >Quantidade Disponivel em Estoque (UN, VOL, KG)</label>
						</div>

					</div>
					<br />
				</div>


				<div class="col-md-4">
					<label class="fg-label col-md-4 col-xs-6">Status:</label>
					<h:selectBooleanCheckbox class="toggle has-success col-xs-4"
						value="#{itemController.objeto.status}"></h:selectBooleanCheckbox>
					<br />
				</div>

				<div class="col-md-12">

					<h:outputLabel for="observacao" value="Observações"></h:outputLabel>
					<h:inputTextarea id="observacao"
						value="#{itemController.objeto.observacao}" />
				</div>

				<div class="col-md-12">
					<h:outputLabel for="texto" value="Texto de Exibição"></h:outputLabel>
					<h:inputTextarea id="texto"
						value="#{itemController.objeto.texto}" />
				</div>


				<div class="col-sm-12">
					<button class="col-sm-4 col-xs-12 btn btn-info btn-round"
						jsf:action="#{itemController.gravar()}">Salvar</button>
				</div>

			</h:form>
		</div>
	</ui:define>

</ui:composition>

</html>