<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "htth://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="../../template/apppage.xhtml">
	<f:metadata>
		<f:event type="preRenderView" listener="#{itemController.init()}" />
	</f:metadata>

	<ui:define name="pagetitle">Produtos</ui:define>
	<ui:define name="pagetitle2">Listagem De Produtos</ui:define>

	<ui:define name="header">
		<ui:include src="../../template/datatablescss.xhtml"></ui:include>
	</ui:define>
	
	<ui:define name="subScripts">
		<ui:include src="../../template/datatablejs.xhtml"></ui:include>

		<script type="text/javascript" pt:class="init">
			//<![CDATA[

			$(document).ready(function() {
				var table = $('.display').DataTable({
					dom : 'Bfrtip<"bottom">l',
					responsive : true,
					buttons : [ {
						extend : 'excelHtml5',
						text : 'Excel',
						className : 'DTTT_button',
						exportOptions : {
							columns : [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
						}
					}, {
						extend : 'pdfHtml5',
						className : 'DTTT_button',
						title : 'Operações',
						message : 'Listagem de Operações com filtros.',
						text : 'Gerar PDF',
						download : 'open',
						exportOptions : {
							columns : [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
						}
					}, {
						extend : 'print',
						title : 'Operações',
						message : 'Listagem de Operações com filtros.',
						className : 'DTTT_button',
						text : 'Imprimir',
						exportOptions : {
							columns : [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9],

						}
					}, 

					],
					language : {
						"lengthMenu" : "Resultados _MENU_ por pagina",
						"zeroRecords" : "Nenhum resultado encontrado",
						"info" : "Pagina page _PAGE_ de _PAGES_",
						"infoEmpty" : "Nenhum resultado encontrado",
						"infoFiltered" : "(filtered from _MAX_ total records)",
						"search" : "Pesquisar: ",
						"decimal" : ",",
						"thousands" : ".",
						"paginate" : {
							"first" : "Primeiro",
							"last" : "Último",
							"next" : "Próximo",
							"previous" : "Anterior",
						}
					},
				});

			});

			//]]>
		</script>
	</ui:define>
	
	<ui:define name="btnLeft">	
		<h:form>
			<h:commandLink action="#{itemController.incluir}">
				<div class="unit backet">
					<span class="side-btn fa fa-plus-square" ></span>
				</div>
			</h:commandLink>
		</h:form>
	</ui:define>
	
	<ui:define name="body">
		<div class="row decor-default">
			<div class="col-lg-12">


				<div class="no-mobile-m-20">
					<div class="table-responsive data-success">
					
						<h:dataTable value="#{itemController.lista}" var="obj"
							cellspacing="0" class="display" id="tableProdutos" name=""
							styleClass="display">
							<h:column>
								<f:facet name="header">Descrição</f:facet>
								#{obj.descricao}
							</h:column>
							<h:column>
								<f:facet name="header">Código</f:facet>
								#{obj.codigo}
							</h:column>
							<h:column>
								<f:facet name="header">Preço(R$)</f:facet>
								<h:outputText value="#{obj.preco}" >
									<f:convertNumber pattern="##,##0.00"/>
								</h:outputText>
							</h:column>
							<h:column>
								<f:facet name="header">Entrega</f:facet>
								#{obj.previsaoEntrega} Dias
							</h:column>
							<h:column>
								<f:facet name="header">Peso(KG)</f:facet>
								<h:outputText value="#{obj.peso}" >
									<f:convertNumber pattern="##,##0.00"/>
								</h:outputText>
							</h:column>
							<h:column>
								<f:facet name="header">NCM</f:facet>
								#{obj.ncm}
							</h:column>
							<h:column>
								<f:facet name="header">IPI</f:facet>
								<h:outputText value="#{obj.ipi}" >
									<f:convertNumber pattern="##,##0.00"/>
								</h:outputText>%
							</h:column>
							<h:column>
								<f:facet name="header">Estoque(Qtd)</f:facet>
								#{obj.disponivelEstoque}
							</h:column>
							<h:column>
								<f:facet name="header">Status</f:facet>	
								<h:selectBooleanCheckbox class="custom-chr chr-success" value="#{obj.status}" id="status" disabled="true"/> 
								<label for="status">#{itemController.status(obj.status)}</label>
							</h:column>
							<h:column>
								<f:facet name="header">Usuário</f:facet>
								#{obj.usuario.login}
							</h:column>
							<h:column>
								<f:facet name="header">Opções</f:facet>
									<h:form class="" style="line-height=0px;">
										<button class="btn btn-info" 
										jsf:action="#{itemController.alterar(obj.id)}">Alterar</button>
										<button class="btn btn-info"
										 jsf:action="#{itemController.inativar(obj.id)}">Inativar</button>
									</h:form>
							
							</h:column>

						</h:dataTable>
					
					</div>
				</div>
			</div>
		</div>

	</ui:define>

</ui:composition>

</html>