<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "htth://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="../../template/apppage.xhtml">
	<f:metadata>
		<f:event type="preRenderView" listener="#{descontoController.init()}" />
	</f:metadata>

	<ui:define name="pagetitle">Descontos</ui:define>
	<ui:define name="pagetitle2">Edição de Desconto</ui:define>

	<ui:define name="header">

	</ui:define>

	<ui:define name="subScripts">

	</ui:define>

	<ui:define name="btnLeft">	
			<ui:include src="../../template/btnvoltar.xhtml"/>
	</ui:define>

	<ui:define name="body">
		<div class="row row-broken decor-default p-full-md">
		<h:form id="descontos">
			<div class="col-md-4">
				<div class="input-group fg-float">
					<div class="fg-line">
						<h:inputText id="descricao"
							value="#{descontoController.objeto.descricao}"
							class="form-control material fg-input" />
							<h:message for="descricao"></h:message>
						<label for="descricao" class="fg-label">Descrição</label>
					</div>
				</div>

				<br />
			</div>
			
			<div class="col-md-4">
				<div class="input-group fg-float">
					
					<div class="fg-line">
						<h:inputText  id="percentual"
							value="#{descontoController.objeto.percentual}"
							class="form-control material fg-input" pt:data-mask="#.##0,00" pt:data-mask-reverse="true"
								converterMessage="Ocorreu no formato dos valores, por favor digite corretamente!">
								<f:convertNumber pattern="#,##0.00" for="percentual" />
							</h:inputText>
						<h:message for="percentual" />
						<label for="percentual" class="fg-label">Percentual(%)</label>
					</div>
				</div>

				<br />
			</div>
			
			<div class="col-md-4">
				<label class="fg-label col-md-4 col-xs-6">Status:</label>
				<h:selectBooleanCheckbox class="toggle has-success col-xs-4" value="#{descontoController.objeto.status}"></h:selectBooleanCheckbox>
				
				
				<br/>
			</div>
			
			<div class="col-sm-12">
				<button class="col-sm-4 col-xs-12 btn btn-info btn-round" jsf:action="#{descontoController.gravar()}">Salvar</button>
			</div>
			
			<div class="col-sm-12 col-xs-12">
			<br/><br/>
			</div>
			</h:form>
		</div>
	</ui:define>

</ui:composition>

</html>