<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "htth://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="../../template/apppage.xhtml">
	<f:metadata>
		<f:event type="preRenderView" listener="#{pedidoController.init()}" />
	</f:metadata>
	
	<ui:define name="pagetitle">Revenda</ui:define>
	<ui:define name="pagetitle2">Edição de Revenda</ui:define>

	<ui:define name="header">
	<h:outputStylesheet library="css" name="bootstrap-datetimepicker.min.css" />
	</ui:define>

	<ui:define name="subScripts">
	
		<h:outputScript library="js" name="tinymce/tinymce.min.js" />
		
		 
		 
		
		
		
		<script>
			tinymce
					.init({
						selector : 'textarea',
						language : 'pt_BR',
						height : '400px',
						plugins : [
								'advlist autolink lists link image charmap print preview hr anchor pagebreak',
								'searchreplace wordcount visualblocks visualchars code fullscreen',
								'insertdatetime media nonbreaking save table contextmenu directionality',
								'emoticons template paste textcolor colorpicker textpattern imagetools codesample' ],
						toolbar1 : 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
						toolbar2 : 'print preview media | forecolor backcolor emoticons | codesample',
						image_advtab : true,
						content_css : [
								'//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
								'//www.tinymce.com/css/codepen.min.css' ]
					});
		</script>
		
		<ui:include src="../../template/datatablejs.xhtml"></ui:include>

		<script type="text/javascript" pt:class="init">
			//<![CDATA[

			$(document).ready(function() {
				var table = $('.display').DataTable({
					dom : 'Bfrtip<"bottom">l',
					responsive : true,
					buttons : [ {
						extend : 'excelHtml5',
						text : 'Excel',
						className : 'DTTT_button',
						exportOptions : {
							columns : [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
						}
					}, {
						extend : 'pdfHtml5',
						className : 'DTTT_button',
						title : 'Clientes Finais',
						message : 'Listagem de Clientes com filtros.',
						text : 'Gerar PDF',
						download : 'open',
						exportOptions : {
							columns : [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
						}
					}, {
						extend : 'print',
						title : 'Clientes Finais',
						message : 'Listagem de Clientes com filtros.',
						className : 'DTTT_button',
						text : 'Imprimir',
						exportOptions : {
							columns : [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9],

						}
					}, 

					],
					language : {
						"lengthMenu" : "Resultados _MENU_ por pagina",
						"zeroRecords" : "Nenhum resultado encontrado",
						"info" : "Pagina page _PAGE_ de _PAGES_",
						"infoEmpty" : "Nenhum resultado encontrado",
						"infoFiltered" : "(filtered from _MAX_ total records)",
						"search" : "Pesquisar: ",
						"decimal" : ",",
						"thousands" : ".",
						"paginate" : {
							"first" : "Primeiro",
							"last" : "Último",
							"next" : "Próximo",
							"previous" : "Anterior",
						}
					},
				});

			});

			//]]>
		</script>

	</ui:define>

	<ui:define name="btnLeft">	
			<ui:include src="../../template/btnvoltar.xhtml"/>
	</ui:define>

	<ui:define name="body">
	

		<div class="row row-broken decor-default p-full-md">
			<h:form id="formpedido">
				
				
				<div class="col-md-4">
               	<label>Revenda</label>
                <div class="form-group">
                    <div class="fg-line">
                        <div class="select">
                         	<h:selectOneMenu class="selectpicker"  pt:data-live-search="true" converter="revendaConverter" value="#{pedidoController.objeto.revenda}">
								<f:selectItems value="#{pedidoController.revendas}"  var="rep" itemLabel="#{rep.nome}" itemValue="#{rep}" />
							</h:selectOneMenu >
                        </div>
                    </div>
                </div>
              </div>
              <c:if test="#{pedidoController.objeto.getClass().getSimpleName()=='PedidoFinal'}">
	              <div class="col-md-4">
	               	<label>clienteFinal</label>
	                <div class="form-group">
	                    <div class="fg-line">
	                        <div class="select">
	                         	<h:selectOneMenu class="selectpicker"  pt:data-live-search="true" converter="revendaConverter" value="#{pedidoController.objeto.clienteFinal}">
									<f:selectItems value="#{pedidoController.clientes}"  var="rep" itemLabel="#{rep.nome}" itemValue="#{rep}" />
								</h:selectOneMenu >
	                        </div>
	                    </div>
	                </div>
	              </div>
              </c:if>
              
				<div class="col-md-12">
					<div class="input-group fg-float">
						<div class="fg-line">
							<h:inputText id="parcelamento"
								value="#{pedidoController.objeto.parcelamento}"
								class="form-control material fg-input" />
							<h:message for="parcelamento"></h:message>
							<label for="parcelamento" class="fg-label">Forma de pagamento</label>
						</div>
					</div>
					<br />
				</div>
				
				
				<div class="col-md-5">
					<div class="input-group fg-float">
						<div class="fg-line">
							<h:inputText id="validade" pt:data-mask="00/00/0000" maxlength="10"
								autocomplete="off" 
								value="#{pedidoController.objeto.validade}"
								class="form-control material fg-input" converterMessage="Adicione uma data valida" />
							<h:message for="validade"></h:message>
						 <label for="parcelamento" class="fg-label">Validade do Pedido</label>
						</div>
					</div>
					<br />
				</div>
				
				<div class="col-md-4">
					<div class="input-group fg-float">
						<div class="fg-line">
							<h:inputText id="valorFreteTotal" value="#{itemController.objeto.valorFreteTotal}"
								class="form-control material fg-input"  pt:data-mask="#.##0,00" pt:data-mask-reverse="true"
								converterMessage="Ocorreu no formato dos valores, por favor digite corretamente!">
									<f:convertNumber pattern="#,##0.00" for="valorFreteTotal" />
							</h:inputText>
							<h:message for="valorFreteTotal" />
							<label for="valorFreteTotal" class="fg-label">Todal de Frete</label>
						</div>
					</div>
					<br />
				</div>
				
				<div class="col-md-4">
					<div class="input-group fg-float">
						<div class="fg-line">
							<h:inputText id="valorTotal" value="#{itemController.objeto.valorTotal}"
								class="form-control material fg-input"  pt:data-mask="#.##0,00" pt:data-mask-reverse="true"
								converterMessage="Ocorreu no formato dos valores, por favor digite corretamente!">
									<f:convertNumber pattern="#,##0.00" for="valorTotal" />
							</h:inputText>
							<h:message for="valorTotal" />
							<label for="valorTotal" class="fg-label">Valor total para Revenda</label>
						</div>
					</div>
					<br />
				</div>
				
				<div class="col-md-4">
					<div class="input-group fg-float">
						<div class="fg-line">
							<h:inputText id="valorTotalFinal" value="#{itemController.objeto.valorTotalFinal}"
								class="form-control material fg-input"  pt:data-mask="#.##0,00" pt:data-mask-reverse="true"
								converterMessage="Ocorreu no formato dos valores, por favor digite corretamente!">
									<f:convertNumber pattern="#,##0.00" for="valorTotalFinal" />
							</h:inputText>
							<h:message for="valorTotalFinal" />
							<label for="valorTotalFinal" class="fg-label">Valor total para o Cliente</label>
						</div>
					</div>
					<br />
				</div>
				
				
				<div class="col-md-2  decor-dark" style="margin-bottom: 10px;">
						<label for="fretePago" style="margin: 5px;">Frete Pago:</label>
					
						<h:selectBooleanCheckbox class="toggle has-success" label="fretePago" value="#{pedidoController.objeto.fretePago}"/>
				
				</div>
				
				 <div class="col-md-2  decor-dark" style="margin-bottom: 10px;">
						<label for="status" style="margin: 5px;">Status:</label>
					
						<h:selectBooleanCheckbox class="toggle has-success" label="status" value="#{pedidoController.objeto.status}"/>
				
				</div>
			
              <div class="col-md-2  decor-dark" style="margin-bottom: 10px;">
						<label for="irregular" style="margin: 5px;">Irregularidades:</label>
						<h:selectBooleanCheckbox class="toggle has-success" label="status" value="#{pedidoController.objeto.irregular}"/>
				
				</div>
				
				
				

				<div class="col-md-12">

					<h:outputLabel for="observacao" value="Observações"></h:outputLabel>
					<h:inputTextarea id="observacao"
						value="#{pedidoController.objeto.observacao}" />
				</div>
				
				<div class="col-sm-12">
					<button class="col-sm-4 col-xs-12 btn btn-info btn-round"
						jsf:action="#{pedidoController.gravar()}">Salvar</button>
				</div>
				
			</h:form>
		</div>
		
			<div class="row decor-default">
			
			<div class="col-lg-12">
				<h:form id="formpedido">
				
				
					<div class="col-md-4">
	               	<label>Produto</label>
	                <div class="form-group">
	                    <div class="fg-line">
	                        <div class="select">
	                         	<h:selectOneMenu class="selectpicker"  pt:data-live-search="true" converter="revendaConverter" value="#{pedidoController.objeto.itemPedido}">
									<f:selectItems value="#{pedidoController.itens}"  var="ite" itemLabel="#{ite.nome}" itemValue="#{ite}" />
								</h:selectOneMenu >
	                        </div>
	                    </div>
	                </div>
	              </div>
              </h:form>
			
			</div>
			<div class="col-lg-12">


				<div class="no-mobile-m-20">
					<div class="table-responsive data-success">
					<h:dataTable value="#{pedidoController.objeto.itemsPedido}" var="item"
							cellspacing="0" class="display" id="tableItens" rowIndexVar="rowIndex"
							>
							<h:column>
								<f:facet name="header">Valor Total</f:facet>
								#{item.quantidade}
							</h:column>
							
							<h:column>
								<f:facet name="header">Codigo</f:facet>
								#{item.item.codigo}
							</h:column>
							
							<h:column>
								<f:facet name="header">Descrição</f:facet>
								#{item.item.descrição}
							</h:column>
							
							<h:column>
								<f:facet name="header">Validade</f:facet>
								#{item.valorRevenda}
							</h:column>
							
							<h:column>
								<f:facet name="header">Data Autorização</f:facet>
								#{item.valorFinal}
							</h:column>
							
							<h:column>
								<f:facet name="header">Status</f:facet>
								#{item.status}
							</h:column>
							
							<h:column>
								<f:facet name="header">Usuário</f:facet>
								#{item.usuario.login}
							</h:column>
							<h:column>
								<f:facet name="header">Opções</f:facet>
								<h:form class="" style="line-height=0px;">
								
									<h:commandLink class="btn btn-info"
										action="#{controllerProduto.alterarItem(rowIndex)}"
						value="Alterar" ajax="true" update=":formAcessorio"
						onclick="PF('dialogoAcessorios').show();" />
									<h:commandLink class="btn btn-info" value="Excluir" ajax="true"
										action="#{pedidoController.excluirItem(obj.id)}"
										
											onclick="if (!confirm('Confirma a exclusão?')) return false"
										/>
								</h:form>
							</h:column>

						</h:dataTable>
					
					
					
					</div>
					</div></div></div>
		
		
		
	
	</ui:define>

</ui:composition>

</html>