<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "htth://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="../template/apppage.xhtml">

	<ui:define name="pagetitle">Empresa</ui:define>
	<ui:define name="pagetitle2">Detalhes da Empresa</ui:define>

	<ui:define name="body">

		<div class="row">
		<h:form id="empresa">
			<div class="col-sm-6">
				<span class="input input--jiro"> 
					<h:inputText  class="input__field input__field--jiro" id="nome" value="#{pessoaController.app.usuario.juridica.nome}"/>
					
					<label class="input__label input__label--jiro " for="nome">
						<span class="input__label-content input__label-content--jiro">Razão Social*</span>
						<h:message for="nome"></h:message>
					</label>
				</span>
			</div>
			
			<c:if test="#{pessoaController.app.usuario.juridica.getClass().getSimpleName()=='Fornecedor'}">
				<div class="col-sm-4">
					<span class="input input--jiro"> 
					
						<h:inputText  id="cnpj" value="#{pessoaController.app.usuario.juridica.cnpj}" class="input__field input__field--jiro" pt:data-mask="00.000.000/0000-00" maxlength="18" autocomplete="off" pt:placeholder="00.000.000/0000-00" />
						<label class="input__label input__label--jiro" for="cnpj">
							<span class="input__label-content input__label-content--jiro">CNPJ*</span>
							<h:message for="cnpj"></h:message>
						</label>
					</span>
				</div>
			</c:if>
			<div class="col-sm-4">
				<span class="input input--jiro"> 
					<h:inputText  id="inscricao" class="input__field input__field--jiro" value="#{pessoaController.app.usuario.juridica.inscricao}"  maxlength="20" autocomplete="off" />
					<label class="input__label input__label--jiro" for="inscricao">
						<span class="input__label-content input__label-content--jiro">Inscrição Estadual*</span>
							<h:message for="inscricao"></h:message>
					</label>
				</span>
			</div>
			
			<div class="col-sm-4">
				<span class="input input--jiro"> 
					<h:inputText class="input__field input__field--jiro"  id="telefone" value="#{pessoaController.app.usuario.juridica.telefone}" pt:data-mask="(00)0000-00000" pt:placeholder="(00)0000-00000" maxlength="14"/>
					<label class="input__label input__label--jiro" for="telefone">
						<span class="input__label-content input__label-content--jiro">Telefone*</span>
							<h:message for="telefone"/>
					</label>
				</span>
			</div>
			
			<div class="col-sm-5">
				<span class="input input--jiro"> 
					<h:inputText class="input__field input__field--jiro"  id="email" value="#{pessoaController.app.usuario.juridica.email}" />
					<label class="input__label input__label--jiro" for="email">
						<span class="input__label-content input__label-content--jiro">E-Mail*</span>
							<h:message for="email"/>
					</label>
				</span>
			</div>
	
			<div class="col-sm-3">
				<span class="input input--jiro"> 
					<h:inputText class="input__field input__field--jiro" id="cep" onblur="pesquisacep();" value="#{pessoaController.app.usuario.juridica.cep}" pt:data-mask="00000000" pt:placeholder="00000000"/>
					<label class="input__label input__label--jiro" for="cep">
						<span class="input__label-content input__label-content--jiro">CEP*</span>
						<h:message for="cep"/>
					</label>
				</span>
			</div>
		
			<div class="col-sm-4">
				<span class="input input--jiro"> 
					<h:inputText class="input__field input__field--jiro" id="cidade" value="#{pessoaController.app.usuario.juridica.cidade}"/>
					<label class="input__label input__label--jiro" for="cidade">
						<span class="input__label-content input__label-content--jiro">Cidade*</span>
						<h:message for="cidade"/>
					</label>
				</span>
			</div>
			
			<div class="col-sm-3">
				<span class="input input--jiro"> 
					<h:inputText class="input__field input__field--jiro" id="ibge" value="#{pessoaController.app.usuario.juridica.ibge}" pt:data-mask="0000000" maxlength="7" pt:placeholder="0000000"/>
					<label class="input__label input__label--jiro" for="ibge">
						<span class="input__label-content input__label-content--jiro">IBGE da Cidade</span>
						<h:message for="ibge"/>
					</label>
				</span>
			</div>
			
			<div class="col-sm-3">
				<span class="input input--jiro"> 
					<h:inputText class="input__field input__field--jiro" id="uf" maxlength="2" value="#{pessoaController.app.usuario.juridica.estado}"/>
					<label class="input__label input__label--jiro" for="uf">
						<span class="input__label-content input__label-content--jiro">UF*</span>
						<h:message for="uf"/>
					</label>
				</span>
			</div>
			
			<div class="col-sm-4">
				<span class="input input--jiro"> 
					<h:inputText class="input__field input__field--jiro" id="bairro" value="#{pessoaController.app.usuario.juridica.bairro}"/>
					<label class="input__label input__label--jiro" for="bairro">
						<span class="input__label-content input__label-content--jiro">Bairro*</span>
						<h:message for="bairro"/>
					</label>
				</span>
			</div>
			
			<div class="col-sm-5">
				<span class="input input--jiro"> 
					<h:inputText class="input__field input__field--jiro" id="rua" value="#{pessoaController.app.usuario.juridica.endereco}"/>
					<label class="input__label input__label--jiro" for="rua">
						<span class="input__label-content input__label-content--jiro">Endereço*</span>
						<h:message for="rua"/>
					</label>
				</span>
			</div>
			
			<div class="col-sm-4">
				<span class="input input--jiro"> 
					<h:inputText class="input__field input__field--jiro" id="numero" value="#{pessoaController.app.usuario.juridica.numero}"/>
					<label class="input__label input__label--jiro" for="numero">
						<span class="input__label-content input__label-content--jiro">Número*</span>
						<h:message for="numero"/>
					</label>
				</span>
			</div>
			
			<div class="col-sm-3">
				<span class="input input--jiro"> 
					<h:inputText class="input__field input__field--jiro" id="complemento" value="#{pessoaController.app.usuario.juridica.complemento}"/>
					<label class="input__label input__label--jiro" for="complemento">
						<span class="input__label-content input__label-content--jiro">Complemento</span>
						<h:message for="complemento"/>
					</label>
				</span>
			</div>
			
			<div class="col-sm-12">
			<button class="col-sm-4 btn btn-info btn-round" jsf:action="#{pessoaController.gravar()}">Salvar</button>
			
			</div>
		</h:form>
		</div>


	</ui:define>

</ui:composition>

</html>