<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "htth://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="../template/apppage.xhtml">

	<ui:define name="pagetitle">Perfil</ui:define>
	<ui:define name="pagetitle2">Meu dados</ui:define>

	<ui:define name="body">
	
		<div class="row">
					<div class="col-md-6">
			<h:form id="perfil">


				<div class="col-md-12">
					<span class="input input--jiro"> <h:inputText
							class="input__field input__field--jiro" id="email"
							value="#{perfilController.app.usuario.email}" /> <label
						class="input__label input__label--jiro" for="email"> <span
							class="input__label-content input__label-content--jiro">E-Mail*</span>
							<h:message for="email" />
					</label>
					</span>
				</div>

				<div class="col-md-12">
					<span class="input input--jiro"> <h:inputText
							class="input__field input__field--jiro" id="nome"
							value="#{perfilController.app.usuario.nome}" /> <label
						class="input__label input__label--jiro" for="nome"> <span
							class="input__label-content input__label-content--jiro">Nome*</span>
							<h:message for="nome" />
					</label>
					</span>
				</div>
				<div class="col-md-12">
					<button class="col-md-6 btn btn-info btn-round"
						jsf:action="#{perfilController.gravar()}">Salvar</button>
					<h:link class="col-md-6 btn btn-danger btn-round" value="Voltar" outcome="/private/dashboard"/>
				</div>
			</h:form>
			</div>
			
			<div class="col-md-6">
			<h:form id="perfilSenha">
				
					<div class="panel panel-default">
						<div class="panel-heading decor-dark">
							<h3 class="panel-title">Senha</h3>
						</div>
						<div class="panel-body decor-success  art">
								<h:messages id="errosenha" globalOnly="true"></h:messages>
							<div class="col-md-12">
								<span class="input input--jiro"> <h:inputSecret
										class="input__field input__field--jiro" id="senha"
										value="#{perfilController.senha}" /> <label
									class="input__label input__label--jiro" for="senha">
										<span class="input__label-content input__label-content--jiro">Senha
											Atual</span> <h:message for="senha" />
								</label>
								</span>
							</div>
							<div class="col-md-12">
								<span class="input input--jiro"> <h:inputSecret
										class="input__field input__field--jiro" id="novasenha"
										value="#{perfilController.novasenha}" /> <label
									class="input__label input__label--jiro" for="novasenha">
										<span class="input__label-content input__label-content--jiro">Nova Senha</span>
										<h:message for="novasenha" />
								</label>
								</span>
							</div>
							<div class="col-md-12">
								<span class="input input--jiro"> <h:inputSecret
										class="input__field input__field--jiro" id="confirmacaosenha"
										value="#{perfilController.confirmacaosenha}" /> <label
									class="input__label input__label--jiro" for="confirmacaosenha">
										<span class="input__label-content input__label-content--jiro">Confirmação
											da Senha</span> <h:message for="confirmacaosenha" />
								</label>
								</span>
							</div>
				<div class="col-sm-12">
					<button class="col-sm-12 btn btn-info btn-round"
						jsf:action="#{perfilController.gravarSenha()}">Salvar senha</button>

				</div>

						</div>
					</div>
				
				</h:form>
				</div>

			
		</div>


	</ui:define>

</ui:composition>

</html>