<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core" 
	xmlns:p="http://primefaces.org/ui"
	xmlns:jsf="http://xmlns.jcp.org/jsf">
<h:head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />


	 <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#36384e"/>
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#36384e" />
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
		

	

	<ui:insert name="title"></ui:insert>
	
	
	<ui:insert name="header">

	</ui:insert>


	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="font-awesome.min.css" />
	<h:outputStylesheet library="css" name="animate.min.css" />
	<h:outputStylesheet library="css/vendors" name="sweetalert.css" />
	<h:outputStylesheet library="css/vendors" name="loading.css" />
	<h:outputStylesheet library="css/vendors" name="chat.css" />
	<h:outputStylesheet library="css" name="bootstrap-select.css" />
	<h:outputStylesheet library="css/skins" name="dark.css" />
	
	 
	 <h:outputStylesheet library="css/vendors" name="input.css" />


	<h:outputStylesheet library="css/vendors" name="checkboxes.css" />


	<!-- registrer -->
	<h:outputStylesheet library="css" name="normalize.css" />
	<h:outputStylesheet library="css" name="register.css" />
    <h:outputStylesheet library="css" name="component.css" />
    <h:outputStylesheet library="css" name="cs-select.css" />
    <h:outputStylesheet library="css" name="cs-skin-boxes.css" />
 
    





	<h:outputScript library="js" name="modernizr.custom.js" />

	<h:outputStylesheet library="css" name="main.css" />
	<h:outputScript library="js" name="modernizr.js" />

	<link rel="icon" href="img/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />

	<!--[if lt IE 9]>
  
    <h:outputScript library="js" name="html5shiv.min.js" />
    
    <h:outputScript library="js" name="respond.src.js" />
  <![endif]-->

	<script type="text/javascript" >
	
	
	
	function limpa_formulário_cep() {
        //Limpa valores do formulário de cep.
        document.getElementById('empresa:rua').value=("");
        document.getElementById('empresa:bairro').value=("");
        document.getElementById('empresa:cidade').value=("");
        document.getElementById('empresa:uf').value=("");
        document.getElementById('empresa:ibge').value=("");
		}

		function meu_callback(conteudo) {
		    if (!("erro" in conteudo)) {
		        //Atualiza os campos com os valores.
		        document.getElementById('empresa:rua').value=(conteudo.logradouro);
		        document.getElementById('empresa:bairro').value=(conteudo.bairro);
		        document.getElementById('empresa:cidade').value=(conteudo.localidade);
		        document.getElementById('empresa:uf').value=(conteudo.uf);
		        document.getElementById('empresa:ibge').value=(conteudo.ibge);
		    } //end if.
   			else {
		        //CEP não Encontrado.
		        limpa_formulário_cep();
		        alert("CEP não encontrado.");
    }
}
    
function pesquisacep() {
	var cep = document.getElementById("empresa:cep").value;
	
	var cep = cep.replace("-", "");
    //Nova variável "cep" somente com dígitos.
 

    //Verifica se campo cep possui valor informado.
    if (cep != "") {

        //Expressão regular para validar o CEP.
        var validacep = /^[0-9]{8}$/;
      	
        //Valida o formato do CEP.
        if(validacep.test(cep)) {

            //Preenche os campos com "..." enquanto consulta webservice.
            document.getElementById('empresa:rua').value="...";
            document.getElementById('empresa:bairro').value="...";
            document.getElementById('empresa:cidade').value="...";
            document.getElementById('empresa:uf').value="...";
            document.getElementById('empresa:ibge').value="...";

            //Cria um elemento javascript.
            var script = document.createElement('script');

            //Sincroniza com o callback.
            script.src = '//viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

            //Insere script no documento e carrega o conteúdo.
            document.body.appendChild(script);

        } //end if.
        else {
            //cep é inválido.
            limpa_formulário_cep();
            alert("Formato de CEP inválido.");
        }
    } //end if.
    else {
        //cep sem valor, limpa formulário.
        limpa_formulário_cep();
    }
};


    </script>
    
    <script>
		$a = jQuery.noConflict();
		$a(document).ready(function() {
			var heightWindow = $a(window).height();
			var heightBody = document.body.clientHeight;
			if (heightWindow > heightBody) {
				$a("#footer").css('position', 'fixed');
				$a("#footer").css('bottom', '0');
			}
		});
	</script>


</h:head>



	
	
	<ui:insert name="page"/>
	



</html>