<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="../template/app.xhtml">
	<ui:define name="page">
		<body>

			<div id="wrap-content" class="wrap-content decor-success">

				<div class="preloader">
					<div class="preloader-anim la-animate"></div>
					<div class="loading-anim">Carregando</div>
				</div>
				<div class="aside">
					<h:link class="btn-logo"  outcome="/private/dashboard"/>
					<span class="menu-btn-open" id="menu-btn-open">Menu</span> 
					<h:link class="btn-profile" outcome="/private/perfil"/>
					<span class="toggle-fixed fa fa-thumb-tack" data-toggle="tooltip" data-placement="top" title="Fixar Cabeçalho"></span>
				</div>
				<div class="header">
					<div class="unit title">
						<h5 class="primary font-weight-700"><ui:insert name="pagetitle"/></h5>
						<h6 class="secondary"><ui:insert name="pagetitle2"/></h6>
					</div>
					
					<div class="unit time">
					    <span class="current-time">18:38</span>
					    <span class="current-date">14 september</span>
					</div>
					
					<ui:insert name="btnLeft"/>
					
				</div>
				

				<div class="content container-fluid decor-success">
					<ui:insert name="body"/>
							
						
				</div>
				
				<div class="footer">
					SisConp
					<ul class="footer-menu">
						<li>Sistema de controle de Pedidos</li>
					</ul>
				</div>

			</div>
			
					
<div id="wrap-menu" class="wrap-menu">
  <span id="menu-btn-close" class="menu-btn-close">
      <svg  x="0px" y="0px" viewBox="0 0 28 28"  xml:space="preserve" >
        <g id="icon-close">
          <line x1="2" y1="2" x2="26" y2="26" />
          <line x1="2" y1="26" x2="26" y2="2" />
        </g>
      </svg>
  </span>
  <h1 class="menu-title">Menu</h1>
  <h:form>
  <ul id="menu" class="menu">
    <li id="menu-btn-back" class="back">
      <span>Voltar</span>
    </li>

    <li><i class="fa fa-dashboard"></i>
   	 <h:link  value="Dashboard"  outcome="/private/dashboard"/>
    </li>
    
	
    <li>
     <i class="fa fa-circle more"></i>
     <i class="fa fa-users"></i>
      <span>Pessoas</span>
      <ul class="menu">
        <li><i class="fa fa-briefcase"></i><h:link  value="Representantes"  outcome="/private/representante/list"/></li>
        <li><i class="fa fa-comments"></i><h:link  value="Revendas"  outcome="/private/revenda/list"/></li>
        <li><i class="fa fa-hand-peace-o"></i><h:link  value="Clientes Finais"  outcome="/private/clientefinal/list"/></li>
      </ul>
    </li>
    <li><i class="fa fa-industry"></i><h:link  value="Minha Empresa"  outcome="/private/empresa"/></li>
     <li><i class="fa fa-file-powerpoint-o"></i><h:link value="Meu Perfil" outcome="/private/perfil"/></li>
    <li><i class="fa fa-user"></i><h:link  value="Usuários"  outcome="/private/usuario/list"/></li>
    
    <li><i class="fa fa-shopping-basket"></i><h:link  value="Produtos"  outcome="/private/produto/list"/></li>
    
    <li><i class="fa fa-balance-scale"></i><h:link  value="Politicas de Descontos"  outcome="/private/desconto/list"/></li>
    
    <li><i class="fa fa-cog"></i><h:link  value="Operações"  outcome="/private/operacao/list"/></li>
    
    <li><i class="fa fa-cart-arrow-down"></i><h:link  value="Baixas de Pedidos"  outcome="/private/baixa/list"/></li>
    
    <li><i class="fa fa-cart-plus"></i><h:link  value="Pedidos"  outcome="/private/pedido/list"/></li>
	<li><i class="fa fa-power-off"></i>
	
		<h:commandLink  value="Sair"  action="#{appController.doLogout()}"/> 
	 
	</li>     
  </ul>
  </h:form>
</div>			
			
			


	<div id="overlay" class="overlay"></div>

			
		<ui:insert name="scripts">
			<ui:include src="/template/scripts.xhtml" />
		</ui:insert>
		




		</body>
	</ui:define>


</ui:composition>

</html>