<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<body>
	<ui:composition>
		
			<h:link outcome="list">
				<div class="unit backet">
					<span class="side-btn fa fa-arrow-left" ></span>
				</div>
			</h:link>
	
		
	</ui:composition>
</body>
</html>