<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<body>
	<ui:composition>
	<h:outputScript library="datatable" name="js/jquery-1.12.3.js" />

		<h:outputScript library="datatable" name="js/jquery.dataTables.min.js" />

		<h:outputScript library="datatable"
			name="js/dataTables.buttons.min.js" />

		<h:outputScript library="datatable" name="js/buttons.flash.min.js" />

		<h:outputScript library="datatable" name="js/jszip.min.js" />

		<h:outputScript library="datatable" name="js/pdfmake.min.js" />

		<h:outputScript library="datatable" name="js/vfs_fonts.js" />

		<h:outputScript library="datatable" name="js/buttons.html5.min.js" />

		<h:outputScript library="datatable" name="js/buttons.print.min.js" />

		<h:outputScript library="datatable" name="js/buttons.colVis.min.js" />

		<h:outputScript library="datatable"
			name="js/dataTables.responsive.min.js" />
	</ui:composition>
</body>
</html>