<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<body>
	<ui:composition>
		<h:outputStylesheet library="datatable" name="css/responsive.dataTables.min.css" />
		<h:outputStylesheet library="datatable" name="css/jquery.dataTables.min.css" />
		<h:outputStylesheet library="datatable" name="css/buttons.dataTables.min.css" />
		<style type="text/css" pt:class="init">
				</style>

	</ui:composition>
</body>
</html>