<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:composition>
	
	
	 	<h:outputScript library="js" name="jquery.js" />
		<h:outputScript library="js" name="bootstrap.min.js" />
		<h:outputScript library="js" name="jquery.nicescroll.min.js" />
		<h:outputScript library="js" name="classie.js" />
		
		<h:outputScript library="js" name="bootstrap-select.min.js" />
		
		<h:outputScript library="js" name="sweetalert.min.js" />
		
		
		<h:outputScript library="js" name="moment.min.js" />
		
		<h:outputScript library="js" name="checkboxes.js" />
		
		<h:outputScript library="js" name="classie.js" />
		<h:outputScript library="js" name="selectFxRegister.js" />
		<h:outputScript library="js" name="fullscreenForm.js" />
		
		
		
		<h:outputScript library="js" name="jquery.mask.min.js" />
		
		 
		
		<h:outputScript library="js" name="classie.js" />
		<h:outputScript library="js" name="moment.min.js" />
		<h:outputScript library="js" name="polyfill.object-fit.min.js" />
		<h:outputScript library="js" name="ui.js" />
		
		
		<ui:insert name="subScripts">

		</ui:insert>
		
		
		
	 
	</ui:composition>
	
<!-- 	<h:outputScript library="js" name="jquery-latest.min.js" />j -->
<!-- 	<h:outputScript library="js" name="input-mask.min.js" /> -->

</html>