<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<body>
	<ui:composition>
		
		//comm seletor de colunas
		<script type="text/javascript" pt:class="init">
			//<![CDATA[

			$(document).ready(function() {
				var table = $('#table1').DataTable({
					dom : 'Bfrtip<"bottom">l',
					responsive : true,
					buttons : [ {
						extend : 'excelHtml5',
						text : 'Excel',
						className : 'DTTT_button',
						exportOptions : {
							columns : [ 0, 1, 2, 3, 4, 5, 6 ],
						}
					}, {
						extend : 'pdfHtml5',
						className : 'DTTT_button',
						title : 'Teste',
						text : 'Gerar PDF',
						download : 'open',
						message : 'Exportaçao de PDF.',
						exportOptions : {
							columns : [ 0, 1, 2, 3, 4, 5, 6 ],
						}
					}, {
						extend : 'print',
						className : 'DTTT_button',
						text : 'Imprimir',
						exportOptions : {
							columns : [ 0, 1, 2, 3, 4, 5, 6 ],

						}
					}, {
						extend : 'colvis',
						className : 'DTTT_button',
						text : 'Colunas',
						className : ' btn-success',

					}

					],
					language : {
						"lengthMenu" : "Resultados _MENU_ por pagina",
						"zeroRecords" : "Nenhum resultado encontrado",
						"info" : "Pagina page _PAGE_ de _PAGES_",
						"infoEmpty" : "Nenhum resultado encontrado",
						"infoFiltered" : "(filtered from _MAX_ total records)",
						"search" : "Pesquisar: ",
						"decimal" : ",",
						"thousands" : ".",
						"paginate" : {
							"first" : "Primeiro",
							"last" : "Último",
							"next" : "Próximo",
							"previous" : "Anterior",
						}
					},
				});

			});

			//]]>
		</script>
		
		//sem seletor de colunas
		
		
		
		
		<script type="text/javascript" pt:class="init">
			//<![CDATA[

			$(document).ready(function() {
				var table = $('#table1').DataTable({
					dom : 'Bfrtip<"bottom">l',
					responsive : true,
					buttons : [ {
						extend : 'excelHtml5',
						text : 'Excel',
						className : 'DTTT_button',
						exportOptions : {
							columns : [ 0, 1, 2, 3, 4, 5, 6 ],
						}
					}, {
						extend : 'pdfHtml5',
						className : 'DTTT_button',
						title : 'Teste',
						text : 'Gerar PDF',
						download : 'open',
						message : 'Exportaçao de PDF.',
						exportOptions : {
							columns : [ 0, 1, 2, 3, 4, 5, 6 ],
						}
					}, {
						extend : 'print',
						className : 'DTTT_button',
						text : 'Imprimir',
						exportOptions : {
							columns : [ 0, 1, 2, 3, 4, 5, 6 ],

						}
					}, 

					],
					language : {
						"lengthMenu" : "Resultados _MENU_ por pagina",
						"zeroRecords" : "Nenhum resultado encontrado",
						"info" : "Pagina page _PAGE_ de _PAGES_",
						"infoEmpty" : "Nenhum resultado encontrado",
						"infoFiltered" : "(filtered from _MAX_ total records)",
						"search" : "Pesquisar: ",
						"decimal" : ",",
						"thousands" : ".",
						"paginate" : {
							"first" : "Primeiro",
							"last" : "Último",
							"next" : "Próximo",
							"previous" : "Anterior",
						}
					},
				});

			});

			//]]>
		</script>
	
	
		
	</ui:composition>
</body>
</html>