<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "htth://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="../../template/apppage.xhtml">
	<f:metadata>
		<f:event type="preRenderView" listener="#{revendaController.init()}" />
	</f:metadata>
	
	<ui:define name="pagetitle">Revenda</ui:define>
	<ui:define name="pagetitle2">Edição de Revenda</ui:define>

	<ui:define name="header">

	</ui:define>

	<ui:define name="subScripts">
		<h:outputScript library="js" name="tinymce/tinymce.min.js" />
		<script>
			tinymce
					.init({
						selector : 'textarea',
						language : 'pt_BR',
						height : '400px',
						plugins : [
								'advlist autolink lists link image charmap print preview hr anchor pagebreak',
								'searchreplace wordcount visualblocks visualchars code fullscreen',
								'insertdatetime media nonbreaking save table contextmenu directionality',
								'emoticons template paste textcolor colorpicker textpattern imagetools codesample' ],
						toolbar1 : 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
						toolbar2 : 'print preview media | forecolor backcolor emoticons | codesample',
						image_advtab : true,
						content_css : [
								'//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
								'//www.tinymce.com/css/codepen.min.css' ]
					});
		</script>

	</ui:define>

	<ui:define name="btnLeft">	
			<ui:include src="../../template/btnvoltar.xhtml"/>
	</ui:define>

	<ui:define name="body">
	

		<div class="row row-broken decor-default p-full-md">
			<h:form id="empresa">
				<div class="col-md-5">
					<div class="input-group fg-float">
						<div class="fg-line">
							<h:inputText id="nome"
								value="#{revendaController.objeto.nome}"
								class="form-control material fg-input" />
							<h:message for="nome"></h:message>
							<label for="nome" class="fg-label">Nome</label>
						</div>
					</div>
					<br />
				</div>
				
				<div class="col-md-5">
					<div class="input-group fg-float">
						<div class="fg-line">
							<h:inputText id="cnpj" pt:data-mask="00.000.000/0000-00" maxlength="18"
								autocomplete="off" 
								value="#{revendaController.objeto.cnpj}"
								class="form-control material fg-input" />
							<h:message for="cnpj"></h:message>
							<label for="cnpj" class="fg-label">CNPJ</label>
						</div>
					</div>
					<br />
				</div>
				
				
				<div class="col-md-5">
					<div class="input-group fg-float">
						<div class="fg-line">
							<h:inputText id="inscricao" maxlength="20" autocomplete="off"
								value="#{revendaController.objeto.inscricao}"
								class="form-control material fg-input" />
							<h:message for="inscricao"></h:message>
							<label for="inscricao" class="fg-label">Inscrição</label>
						</div>
					</div>
					<br />
				</div>
				
				<div class="col-md-5">
					<div class="input-group fg-float">
						<div class="fg-line">
							<h:inputText id="telefone"  pt:data-mask="(00)0000-00000"  maxlength="14"
								value="#{revendaController.objeto.telefone}"
								class="form-control material fg-input" />
							<h:message for="telefone"></h:message>
							<label for="telefone" class="fg-label">Telefone</label>
						</div>
					</div>
					<br />
				</div>
				
				<div class="col-md-5">
					<div class="input-group fg-float">
						<div class="fg-line">
							<h:inputText id="email"
								value="#{revendaController.objeto.email}"
								class="form-control material fg-input" />
							<h:message for="email"></h:message>
							<label for="email" class="fg-label">E-Mail</label>
						</div>
					</div>
					<br />
				</div>
				
				<div class="col-md-5">
					<div class="input-group fg-float">
						<div class="fg-line">
							<h:inputText id="cep" onblur="pesquisacep();" pt:data-mask="00000000" 
								value="#{revendaController.objeto.cep}"
								class="form-control material fg-input" />
							<h:message for="cep"></h:message>
							<label for="cep" class="fg-label">CEP</label>
						</div>
					</div>
					<br />
				</div>
				
				<div class="col-md-5">
					<div class="input-group fg-float">
						<div class="fg-line">
							<h:inputText id="cidade"
								value="#{revendaController.objeto.cidade}"
								class="form-control material fg-input" />
							<h:message for="cidade"></h:message>
							<label for="cidade" class="fg-label">Cidade</label>
						</div>
					</div>
					<br />
				</div>
				
				<div class="col-md-5">
					<div class="input-group fg-float">
						<div class="fg-line">
							<h:inputText id="ibge"
								value="#{revendaController.objeto.ibge}"
								class="form-control material fg-input" />
							<h:message for="ibge"></h:message>
							<label for="ibge" class="fg-label">IBGE</label>
						</div>
					</div>
					<br />
				</div>
				
				<div class="col-md-5">
					<div class="input-group fg-float">
						<div class="fg-line">
							<h:inputText id="uf" maxlength="2"
								value="#{revendaController.objeto.estado}"
								class="form-control material fg-input" />
							<h:message for="uf"></h:message>
							<label for="uf" class="fg-label">UF</label>
						</div>
					</div>
					<br />
				</div>
				
				<div class="col-md-5">
					<div class="input-group fg-float">
						<div class="fg-line">
							<h:inputText id="bairro"
								value="#{revendaController.objeto.bairro}"
								class="form-control material fg-input" />
							<h:message for="bairro"></h:message>
							<label for="bairro" class="fg-label">Bairro</label>
						</div>
					</div>
					<br />
				</div>
				
				<div class="col-md-5">
					<div class="input-group fg-float">
						<div class="fg-line">
							<h:inputText id="rua"
								value="#{revendaController.objeto.endereco}"
								class="form-control material fg-input" />
							<h:message for="rua"></h:message>
							<label for="rua" class="fg-label">Endereço</label>
						</div>
					</div>
					<br />
				</div>
				
				<div class="col-md-5">
					<div class="input-group fg-float">
						<div class="fg-line">
							<h:inputText id="numero"
								value="#{revendaController.objeto.numero}"
								class="form-control material fg-input" />
							<h:message for="numero"></h:message>
							<label for="numero" class="fg-label">Número</label>
						</div>
					</div>
					<br />
				</div>
				
				<div class="col-md-5">
					<div class="input-group fg-float">
						<div class="fg-line">
							<h:inputText id="complemento"
								value="#{revendaController.objeto.complemento}"
								class="form-control material fg-input" />
							<h:message for="complemento"></h:message>
							<label for="complemento" class="fg-label">Complemento</label>
						</div>
					</div>
					<br />
				</div>
			
				
			
				
				
				<div class="col-md-4">
               	<label>Revenda</label>
                <div class="form-group">
                    <div class="fg-line">
                        <div class="select">
                         	<h:selectOneMenu class="selectpicker"  pt:data-live-search="true" converter="representanteConverter" value="#{revendaController.objeto.representante}">
								<f:selectItems value="#{revendaController.representantes}"  var="rep" itemLabel="#{rep.nome}" itemValue="#{rep}" />
							</h:selectOneMenu >
                        </div>
                    </div>
                </div>
              </div>
              
              <div class="col-md-4">
               	<label>Politica de Desconto</label>
                <div class="form-group">
                    <div class="fg-line">
                        <div class="select">
                         	<h:selectOneMenu class="selectpicker"  pt:data-live-search="true" converter="descontoConverter"  value="#{revendaController.objeto.desconto}">
								<f:selectItems value="#{revendaController.descontos}"  var="des" itemLabel="#{des.descricao}" itemValue="#{des}" />
							</h:selectOneMenu >
                        </div>
                    </div>
                </div>
              </div>
              
              <div class="col-md-2  decor-dark" style="margin-bottom: 10px;">
					
						<label for="status" style="margin: 5px;">Status:</label>
					
					
						<h:selectBooleanCheckbox class="toggle has-success" label="status" value="#{revendaController.objeto.status}"/>
				
				</div>
				
				

				<div class="col-md-12">

					<h:outputLabel for="observacao" value="Observações"></h:outputLabel>
					<h:inputTextarea id="observacao"
						value="#{revendaController.objeto.observacao}" />
				</div>
				
				

				<div class="col-sm-12">
					<button class="col-sm-4 col-xs-12 btn btn-info btn-round"
						jsf:action="#{revendaController.gravar()}">Salvar</button>
				</div>

			</h:form>
		</div>
	</ui:define>

</ui:composition>

</html>