<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "htth://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="../../template/apppage.xhtml">
	<f:metadata>
		<f:event type="preRenderView" listener="#{operacoesController.init()}" />
	</f:metadata>
	
	<ui:define name="pagetitle">Operações</ui:define>
	<ui:define name="pagetitle2">Edição de Operação</ui:define>

	<ui:define name="header">

	</ui:define>

	<ui:define name="subScripts">

	</ui:define>
	
	<ui:define name="btnLeft">	
			<ui:include src="../../template/btnvoltar.xhtml"/>
	</ui:define>

	<ui:define name="body">
		<div class="row row-broken decor-default p-full-md">
		<h:form>
			<div class="col-md-6">
				<div class="input-group fg-float">
					<span class="input-group-addon"><i class="fa fa-user"></i></span>
					<div class="fg-line">
						<h:inputText id="descricao"
							value="#{operacoesController.objeto.descricao}"
							class="form-control material fg-input" />
							<h:message for="descricao"></h:message>
						<label class="fg-label">Descrição</label>
					</div>
				</div>

				<br />
			</div>
			
			<div class="col-md-6">
				<div class="input-group fg-float">
					<span class="input-group-addon"><i class="fa fa-user"></i></span>
					<div class="fg-line">
						<h:inputText id="cfop"
							value="#{operacoesController.objeto.cfop}"
							class="form-control material fg-input" maxlength="8" />
						<h:message for="cfop"></h:message>
						<label class="fg-label">CFOP</label>
					</div>
				</div>

				<br />
			</div>
			<div class="col-md-12 col-xs-12">
				<label class="fg-label col-md-4 col-xs-6">Parcelamento Disponivel:</label>
				<h:selectBooleanCheckbox class="toggle has-success col-xs-4" value="#{operacoesController.objeto.parcelas}"></h:selectBooleanCheckbox>
				<br/>
			</div>
			<div class="col-md-12 col-xs-12">
				<label class="fg-label col-md-4  col-xs-6">Paga Comissão:</label>
				<h:selectBooleanCheckbox class="toggle has-success col-xs-4" value="#{operacoesController.objeto.comissao}"></h:selectBooleanCheckbox>
				<br/>
			</div>
			<div class="col-md-12 col-xs-12">
				<label class="fg-label col-md-4  col-xs-6">Tem Frete:</label>
				<h:selectBooleanCheckbox class="toggle has-success col-xs-4" value="#{operacoesController.objeto.frete}"></h:selectBooleanCheckbox>
				<br/>
			</div>
			
			<div class="col-md-12 col-xs-12">
				<label class="fg-label col-md-4 col-xs-6">Status:</label>
				<h:selectBooleanCheckbox class="toggle has-success col-xs-4" value="#{operacoesController.objeto.status}"></h:selectBooleanCheckbox>
				<br/>
			</div>
			
			<div class="col-sm-12">
				<button class="col-sm-4 col-xs-12 btn btn-info btn-round" jsf:action="#{operacoesController.gravar()}">Salvar</button>
			</div>
			
			<div class="col-sm-12 col-xs-12">
			<br/><br/>
			</div>
			</h:form>
		</div>
	</ui:define>

</ui:composition>

</html>